@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    background: white
}

.carta {
 background-color:rgb(255, 255, 255);
 border: 2px solid #5EA097
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #30bc6d;
    border-radius: 6px; 
    border: 2px solid #f5f5f5; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #22894f;
}

.navbar {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(218, 255, 249));
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}



.whatsapp-tooltip {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translateX(50%);
    background-color: #25d366;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 11px;
}

.whatsapp-button:hover .whatsapp-tooltip {
    display: block;
}

.titulo-seccion {
    margin-top: 10px;
    font-weight: 700;
}
.social-icon {
    margin-right:20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #5EA097;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(0, 0, 0);
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -100px;
    z-index: 1; /* Asegurar que esté encima del contenido */
}

.swiper-button-next {
    right: 10; /* Ajustar posición del botón derecho */
}

/* Estilos personalizados para botones activos */
.boton-info.active,
.boton-info:active {
    background-color: #5EA097;
    border-color: #5EA097;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.circle-icon {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 15px; /* Espacio entre círculos */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos generales para pantallas grandes */
.img-relleno {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Ajuste específico para pantallas más pequeñas (menos de 990px) */
@media (max-width: 990px) {
    .img-relleno {
        width: 100%;
        height: auto;
    }
}

/* Ajuste específico para pantallas más pequeñas (menos de 1336px) */
@media (max-width: 1366px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

.boton-info {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    border: 2px solid #5EA097
}

.boton-info {
    border: 2px solid #5EA097
}

.boton-info:hover {
    background-color: rgba(74, 155, 161, 0.8);
}

.footer {
    background-color: rgb(241, 241, 241);
}



.social-icon {
    color: rgb(0, 0, 0);
}

.titulo-carta {
    font-weight: 500;
}

.tarjeta-cobertura img{
    height: 100%;
}

.foto-con-filtro-azul {
    filter: brightness(60%) sepia(100%) hue-rotate(150deg);
    height: 100%;
    object-fit: cover;
}


.coloreado {
    background-color: #5EA097;
}

#copiadoMensaje {
    display: none;
    position: fixed;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 9999;
}

.lista-principal {
    background-color: #ffffff;
    border: 2px solid #5EA097;
}

.lista-secundaria {
    background-color:rgb(208, 235, 231);
    border: 2px solid #73c2b8;
}

.lista-terciaria {
    background-color: rgb(179, 213, 208);
    border: 2px solid #97f5e8;
}

.container-contenido {
    border-radius: 10px;
    border: 1px solid #5EA097;
    width: 70rem;
}

b {
    color: #5EA097;
}

.carta-bombal {
    background-color: #5EA097;
}